@{
    ViewBag.Title = "About";
}


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/rating.js"></script>
<link rel="stylesheet" href="~/Content/rating.css" type="text/css" media="screen" title="Rating CSS">

<script type="text/javascript">
    $(function () {
        $('.container').rating();
    });
</script>


<div class="container">
    <input type="radio" name="example" class="rating" value="1" />
    <input type="radio" name="example" class="rating" value="2" />
    <input type="radio" name="example" class="rating" value="3" />
    <input type="radio" name="example" class="rating" value="4" />
    <input type="radio" name="example" class="rating" value="5" />
</div>
