@{
    ViewBag.Title = "Contact";
}


<div id="container" style="width: 600px;height:400px;"></div>

<script>
    var options = {
        chart: {
            type: 'bar'
        },
        title: {
            text: '我的第一个图表'
        },
        xAxis: {
            categories: ['苹果', '香蕉', '橙子']
        },
        yAxis: {
            title: {
                text: '吃水果个数'
            }
        },
        series: [{
            name: '小明',
            data: [1, 0, 4]
        }, {
            name: '小红',
            data: [5, 7, 3]
        }]
    };
    var chart = Highcharts.chart('container', options);
</script>
