@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Living Like a Boxer</h1>
    <p class="lead">We can give you experting theory about boxing, managing your food, and calculating the calories of each food.</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <img src="~/img/small1.jpg" width ="550"alt="...">
            <div class="caption">
                <h3 class="text-center">Basic Exercise</h3>
                <p class="text-center"><a href="#" class="btn btn-primary" role="button">Learn more &raquo;</a></p>
            </div>
        </div>
    </div>

        <div class="col-md-6">
                    <div class="card">
                        <img src="~/img/small2.jpg" width ="550" alt="...">
                        <div class="caption">
                            <h3 class="text-center">Boxing Exercise</h3>
                            <p class="text-center"><a href="#" class="btn btn-primary" role="button">Learn more &raquo;</a></p>
                        </div>
                    </div>
        </div>
    </div>
