@model FIT5032_AssignmentX.Models.MovePlans

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Report</h2>


<div id="container" style="width:100%; height:400px;"></div>
<script>
    var text = "THE ROUND of MOVEMENTS YOU HAVE DONE"
    var options = {
        chart: {
            type: 'bar'
        },
        title: {
            text: text
        },
        xAxis: {
            categories: @Html.Raw(Json.Encode(ViewBag.list))
        },
        yAxis: {
            title: {
                text: 'Round'
            }
        },
        series: [{
            name: 'Your Data',
            data: @Html.Raw(Json.Encode(ViewBag.round))
        }]
    };
    var chart = Highcharts.chart('container', options);

</script>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <p class="text-center"><a href="~/MovePlans/Report2" class="btn btn-primary" role="button">Send Email</a></p>
        </div>
    </div>

    <div class="col-md-12">
        <div class="card">
            <p class="text-center"><a href="~/MovePlans/Index" class="btn btn-default" role="button">back</a></p>
        </div>
    </div>
</div>

<form action="/MovePlans/UploadFile" method="post" enctype="multipart/form-data">
    <input type="file" name="file" /><br />
    <input type="submit" value="upload" />
</form>
