@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" onsubmit="return dosubmit()">
    <label for="email" class="control-label">Who do you want to send?</label><br>
    <input type="email" id="emailsend" required="required" name="emailsend"><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>


