@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Have sent the Email";
}

<h1 class="text-center">Successful.</h1>

<p class="text-center"><a href="~/Comments/Index" class="btn btn-primary" role="button">back</a></p>