@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


<script>
    $('.datepicker').datepicker({
        format: "mm/dd/yyyy"});
</script>

<p>
    Date: <input data-provide="datepicker" value="08/20/2020">
</p>


